{% extends "home.html" %}

{% block content %}
    <div class="main-dashboard">
        <header class="dashboard-header">
            <h2>Flake Dashboard</h2>
            <ul class="dashboard-nav-links">
                <li><a class="public-trips-link" href="{{url_for('main.discover')}}">Explore Public Trips</a></li>
                <li><a class="new-trip-link" href="{{url_for('trips.create_trip')}}">New Trip</a></li> 
            </ul>
        </header>
        <div class="trips-container">
            <div class="trips-heading">
                <h2>My Trips</h2>
            </div>
            <div class="trips-index">
                {% for trip in trips %}
                    <div class="trip-index-item">
                        <div class="trip-info">
                            <h3 class="trip-name">{{trip.trip_name}}</h3>
                            <div class="trip-details">
                                <span>Departure Date: {{ trip.start_date }}</span>
                                <!-- <span>{{ trip.party_size }} members</span> -->
                            </div>
                        </div>
                        <a class="nav-link" href="{{ url_for('trips.trip_show', trip_id=trip.id) }}">View Details →</a>
                    </div>
                {% else %}
                    <div class="empty-trips">
                        <p>No trips yet. Click New Trip and start palling today!</p>
                    </div>
                    <!-- <div class="trip-index-item">
                        <div class="trip-info">
                            <h3 class="trip-name">Sample: Estes Park Getaway</h3>
                            <div class="trip-details">
                                <span class="trip-date">Departure Date: May 7th, 2026</span>
                                <span class="trip-members-count">6 members</span>
                            </div>
                        </div>
                        <a class="nav-link" href="">View Details →</a>
                    </div> -->
                {% endfor %}
            </div>
        </div>
        <div class="create-trip-button">

        </div>

    </div>
{% endblock %}