{% extends "home.html" %}

{% block content %}
    <div class="main-discover-container">
        <h1>Discover Trips</h1>
        <p>Welcome to the Discover Trips page!</p>
        {% if trips %}
            <ul>
                {% for trip in trips %}
                    <li>
                        <a href="{{ url_for('trips.trip_show', trip_id=trip.id) }}">{{ trip.trip_name }}</a>
                        <!-- - {{ trip.trip_description }} -->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No public trips available at the moment. Please check back later!</p>
        {% endif %}
    </div>
{% endblock %}