{% extends "home.html" %}

{% block content %}
    <div class="main-dashboard">
        <header class="dashboard-header">
            <h2>Flake Dashboard</h2>
            <ul class="dashboard-nav-links">
                <li class="nav-link">A Page Link</li>
                <li class="nav-link">Another Page Link</li>
                <li><a href="{{ url_for('events.new_event_form', trip_id=trip.id) }}">New Event</a></li> 
            </ul>
        </header>
        <div class="events-container">
            <div class="events-heading">
                <h2>{{ trip.name }} Itinerary</h2>
            </div>
            <div class="events-index">
                {% for event in events %}
                    <div class="event-index-item">
                    <div class="event-info">
                        <h3 class="event-name">{{ event.event_name }}</h3>
                    </div>
                    <a class="nav-link" href="{{ url_for('events.event_overview', event_id=event.id) }}">View Details</a>
                    </div>
                {% else %}
                    <div class="empty-events">
                        <p>No events yet. Click "New Event" to start planning your trip.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="create-event-button"></div>
    </div>
{% endblock %}