{% extends "home.html" %}

{% block content %}

<div class="expense-continer">
    <h2>Expenses for {{ trip.trip_name }}</h2>

    <table class="expense-table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Payer ID</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Date Added</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for exp in expenses %}
            <tr>
                <td>{{ exp.description }}</td>
                <td>User ID: {{ exp.payer_id }}</td>
                <td>${{ exp.amount }}</td>
                <td>{{ exp.is_paid }}</td>
                <td>{{ exp.created_at.strftime('%Y-%m-%d') }}</td>
                <td><a href="{{ url_for('expenses.edit_expense', expense_id=exp.id)}}">Edit</a></td>
                <td>
                    <form 
                        method="POST"  
                        action="{{ url_for('expenses.delete_expense', expense_id=exp.id) }}"
                        onsubmit="return confirm('Are you sure you want to delete this expense?')">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
                <tr>No expences for this trip yet.</tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="1">Total: </th>
                <th colspan="6">{{ total }}</th>
            </tr>
        </tfoot>
    </table>

    <div class="expense-index-buttons">
        <div class="add-expense-button">
            <a href="{{ url_for('expenses.new_expense', trip_id=trip.id) }}">+ Add an Expense</a>
        </div>
    
        <div class="return-to-trip-button">
            <a href="{{ url_for('trips.trip_show', trip_id=trip.id) }}">Back To Trip Page</a>
        </div>
    </div>
</div>

{% endblock %}