{% extends "home.html" %}

{% block content %}
    <div class="main-login">
        <div class="login-left">
            <div class="auth-logo-container">
                <img class="auth-logo-img" src="../static/images/flake-logo.png" alt="">
            </div>
            <div class="login-form-container">
                <h2>Login</h2>
                <p>Welcome back! Please enter your info</p>
                <form class="login-form" action="{{ url_for('auth.login') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <button class="login-button" type="submit">Login</button>
                </form>
                <form class="demo-login-form" action="{{url_for('auth.login')}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="username" value="demouser">
                    <input type="hidden" name="password" value="password">
                    <button class="login-button" type="submit">Demo Login</button>
                </form>
                <p>Not yet a member? <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a></p>
            </div>
        </div>
        <div class="login-right">
            <p>Some Flake content or a cool trip image.</p>
        </div>
    </div>

{% endblock %}
