{% extends "home.html" %}

{% block content %}
    <div class="main-dashboard">
        <header class="dashboard-header">
            <h2>Flake Dashboard</h2>
            <ul class="dashboard-nav-links">
                <li class="nav-link">A Page Link</li>
                <li class="nav-link">Another Page Link</li>
            </ul>
        </header>
        <div class="events-container">
            <div class="events-heading">
                <h2>Create new event for {{ trip_id }}</h2>
            </div>
            <form action="" method="post">
                <input type="hidden" name="user_id" value="{{ current_user.id }}">
                <label for="event_name">Event Name</label>
                <input type="text" id="event_name" name="event_name" required>
                <label for="event_date" >Event Date</label>
                <input type="date" id="event_date" name="event_date" required>
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}