{% extends "home.html" %}

{% block content %}
    <div class="main-signup">
        <div class="signup-left">
            <div class="auth-logo-container">
                <img class="auth-logo-img" src="../static/images/flake-logo.png" alt="">
            </div>
            <div class="signup-form-container">
                <h2>Sign Up</h2>
                <p>Welcome! Please join the community</p>
                <form class="signup-form" action="{{ url_for('users.new_user') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="email" name="email" placeholder="email@email.com" required><br>
                    <input type="text" name="first_name" placeholder="First Name" required><br>
                    <input type="text" name="last_name" placeholder="Last Name" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
                    <button class="signup-button" type="submit">Signup</button>
                </form>
    
                <p>Already a member? <a href="{{ url_for('auth_forms.login') }}">Login</a></p>
            </div>
        </div>
        <div class="signup-right">
            <p>Some Flake content or a cool trip image.</p>
        </div>
{% endblock %}